<!DOCTYPE html>
    <!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
    <html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">

        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shellino vacations</title>

        <link rel="stylesheet" type="text/css" href="/scss/indexTemplate.css" />

        <!-- Custom CSS files on page -->
        {{#if scss}}
            {{#each scss}}
                <link rel="stylesheet" type="text/css" href="{{this}}.css" />
            {{else}}
                <link rel="stylesheet" type="text/css" href="{{scss}}.css" />
            {{/each}}
        {{/if}}

    </head>

    <body>
        {{> indexHeader}}
        {{{ contents }}}

        <!-- Common JS bundle go here -->

        <!--bundle.js-->
        {{#if js}}
            {{#each js}}
                <script type="text/javascript" src="{{this}}"></script>
            {{else}}
                <script type="text/javascript" src="{{js}}"></script>
            {{/each}}
        {{/if}}


    </body>

</html>
