@import "../scss/_foundation_media_queries.scss";
@import "../scss/_variables.scss";

$max-page-width: 1440;
$header-size: 5;
$footer-height: 56px;

body {
    background-color: $color-white-smoke;
    color: $color-body-text;
}

.max-width-panel {
    max-width: $max-page-width + px;
    margin: auto;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        content: "";
        display: block;
        height: $footer-height;
    }
}

#page-header {

    .contact-info-panel {
        margin-bottom: $global-margin;
    }

    .contact-info-label {
        display: inline-block;
        vertical-align: middle;
        margin-right: $global-margin;
    }

    .logo-title-block {
        padding: 0 $global-padding;
    }

    .site-logo {
        max-height: 22vw;
        display: inline-block;
        vertical-align: middle;
    }

    .site-title {
        border-left: 1px dashed;
        display: inline-block;
        font-size: 11vw;
        font-weight: 900;
        line-height: 1;
        margin: 0 0 0 0.5rem;
        padding: 0 0 0 0.5rem;
        text-transform: uppercase;
        vertical-align: middle;
    }

    @media #{$medium-up} {

        .site-logo {
            max-height: $header-size * 2 + rem;
        }

        .site-title {
            font-size: $header-size + rem;
        }
    }

    @media #{$large-up} {
        .contact-info-panel {
            margin-bottom: 0;
        }
    }


    .top-bar {
        margin-top: 1rem;
        border-top: 1px dashed;

        @media #{$medium-up} {
            .first-menu-item {
                padding-left: $global-padding;
            }
        }
    }
}

.header-border {
    border-bottom: 1px dashed;
}

#page-footer {

    height: $footer-height;
    overflow: hidden;
    line-height: 1.2;

    background-color: #E0E0E0;

    .copyright-notice {
        padding: $global-padding;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-transform: uppercase;
    }

    @media #{$medium-up} {
        line-height: 1.5
    }
}