<footer id="page-footer">

    <div class="row">

        <div class="columns small-12 medium-12">
            <h2>Shellino Vacations</h2>

        </div>

        <div class="columns medium-6 large-3">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shellino offering</a></li>
                <li><a href="#">About Shellino</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>

        </div>

        <div class="columns medium-6 large-3">
            <ul>
                <li><a href="#">India travel guide</a></li>
                <li><a href="#">Food in India</a></li>
                <li><a href="#">Shellino vacations blog</a></li>
                <li><a href="#">Weather in India</a></li>
            </ul>
        </div>
        <div class="columns medium-6 large-3">
            <div class="address-block">
                Contact Us:<br />
                14, Arunodaya,<br />
                Ajay colony, Ring Road,<br />
                Jalgaon - 425001<br />
                0257 - 2236967
            </div>
        </div>

        <div class="columns medium-6 large-3">
            <div class="logo-block">Follow us on:</div>
            <div class="clearfix">
                <svg class="footer-icons icon-facebook" viewBox="0 0 1 1"><use xlink:href="/svg/sprite.symbol.svg/#icon-facebook"></use></svg>
                <svg class="footer-icons icon-twitter" viewBox="0 0 1 1"><use xlink:href="/svg/sprite.symbol.svg/#icon-twitter"></use></svg>
            </div>
            <!--<img class="footer-logo" alt="Shellino Vacations" src="/img/logo/white-logo.png" />-->
        </div>

    </div>

</footer>