---
title: Shellino Vacations
template: topPages
permalink: true
scss:
    - /home/home
js:
    - /home/home.js
tagLine: Find your vacation story
subLine: You tell a story. We make it happen.
---

<section>

    <div class="home-wall">
        <div class="wall-title">Red fort, Agra, India</div>
    </div>

    <div class="featured-packages max-width-panel">
        <h2 class="panel-heading">Featured packages</h2>

        <ul class="featured-packages-list clearfix">
            {% set tileSize = "large" %}
            {% for packageKey, package in packages %}

                {% if package.isFeatured %}
                <li class="featured-list-item {{tileSize}}" style="background-image:url('/img/packages/{{package.coverSmall}}')">
                    <a href="/packages/{{packageKey}}/" class="item-padding">
                        <h3 class="featured-heading">{{package.title}}</h3>
                    </a>
                </li>
                {% set tileSize = "small" %}
                {% endif %}

            {% endfor %}

        </ul>

        <a class="explore-link" href="/packages/">Explore all packages &raquo;</a>

    </div>

</section>
