@import "../../scss/_variables.scss";
@import "../../scss/_foundation_media_queries.scss";


.home-wall {
    background-image: url(/img/walls/agra-fort-india-1600x1000.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 480px;
    height: 50vh;
    position: relative;

    .wall-title {
        color: $color-white;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        font-size: 1.125rem;
    }
}

.packages-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .list-item {
        margin: $global-margin;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
}

.packages-panel-heading {
    margin: 0 $global-margin;
}

.package-heading {
    background-color: rgba(0, 0, 0, 0.5);
    color: scale-color($color-primary-blue, $lightness: 0, $saturation: 20%);
    font-weight: 400;
    margin: 0;
    padding: 0.5rem;
}

.upcoming-packages {

    margin-top: $global-margin;

    .list-item {
        height: 200px;
    }

    @media #{$medium-up} {

        .list-item {
            float: left;
            height: 260px;
        }

        .two-items {
            width: calc(50% - #{$global-margin} - #{$global-margin});
        }
    }

    /* At 1200px - custom media query range */
    @media only screen and (min-width: 48em) {

        .list-item {
            float: left;
            height: 320px;
        }

        .two-items {
            width: calc(50% - #{$global-margin} - #{$global-margin});
        }
    }

}

.featured-packages {

    margin-top: $global-margin;
    padding-bottom: $global-padding;
    position: relative;

    .featured-list-item {
        height: 220px;

        &:before {
            //content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .explore-link {
        margin: 0 $global-margin;
        font-size: 1.125rem; /* 18px/16px */
    }

    @media #{$medium-up} {

        .featured-list-item {
            float: left;

            width: 30%; /* Fallback */
            width: calc(33.33% - #{$global-margin} - #{$global-margin});
        }

        .explore-link {
            position: absolute;
            bottom: 0;
            right: $global-margin;
            margin: 0;
        }
    }

    @media #{$large-up} {

        .featured-list-item {

            &.large {
                width: 40%; /* Fallback */
                width: calc(42% - #{$global-margin} - #{$global-margin});
                height: 280px;
            }

            &.small {
                width: 22%; /* Fallback */
                width: calc(29% - #{$global-margin} - #{$global-margin});
            }
        }

        .explore-link {
            margin-bottom: 3rem;
            font-size: 1.3125rem; /* 21px / 16px */
        }
    }
}
