@import "../../scss/_variables.scss";
@import "../../scss/_foundation_media_queries.scss";


.home-wall {
    background-image: url(/img/packages/ladakh-bike-1600x900.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 540px;
    height: 80vh;
    position: relative;
    
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }
    
    .wall-title {
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        font-size: 1.125rem;
        padding: 0.1rem 0.3rem;
    }
    
    .wall-content {
        line-height: 1;
        padding: 15% 0.5rem 0 0.5rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        
        text-align: left;
        color: $color-white;
        
        h2 {
            color: inherit;
            line-height: inherit;
            letter-spacing: 2px;
            font-size: 2rem;
            text-transform: uppercase;
            margin: 0;
            font-weight: 900;
        }
        
    }
    
    @media #{$medium-up} {
        .wall-content {
            h2 {
                font-size: 3rem;
            }
        }

    }
    
    @media #{$large-up} {
        .wall-content {
            h2 {
                font-size: 4rem;
            }
        }

    }
    
}

.intro-panel {
    
    margin-top: $global-margin;
    padding-bottom: $global-padding;
    
    h2, p {
        margin: 0 $global-margin;
    }
    
    strong {
        color: $color-celery;
    }
}

.tour-feature {
    
    margin-top: $global-margin;
    padding-bottom: $global-padding;
    
    .royal-enfield {
        width: 100%;
        max-width: 400px;
    }
    
    .icon-big {
        width: 2rem;
        height: 2rem;
        float: left;
    }

    .tour-features {
        margin: 0;
        li {
            list-style: none;
            
            .feature-item {
                margin-left: 2.5rem;
                font-size: 1.25rem;
            }
        }
        
    }
}

.tour-list-panel {
    h2, .list-card {
        margin: 0 $global-margin;
    }
}

.list-card {
    
    .card-item {
        border: 1px solid $color-casper;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        
        h3 {
            display: inline-block;
            color: inherit;
        }
        
    }
    
    .tour-dates {

        .date-green {
            font-weight: 700;
            color: $color-celery;
        }
        
    }
    
    @media #{$medium-up} {
        .card-item {
            width: 49%;
            width: calc(50% - 5px);
            
            &.card-left {
                float: left;
            }
            
            &.card-right {
                float: right;
            }
        }

    }
}

.packages-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .list-item {
        margin: $global-margin;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
}

.packages-panel-heading {
    margin: 0 $global-margin;
}

.package-link {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    display: block;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}

.package-heading {
    /*color: scale-color($color-primary-blue, $lightness: 0, $saturation: 20%);*/
    color: $color-sunglow;
    font-weight: 400;
    margin: 0;
}

.upcoming-packages {

    margin-top: $global-margin;

    .list-item {
        height: 200px;
    }

    @media #{$medium-up} {

        .list-item {
            float: left;
            height: 260px;
        }

        .two-items {
            width: calc(50% - #{$global-margin} - #{$global-margin});
        }
    }

    /* At 768px - custom media query range */
    @media only screen and (min-width: 48em) {

        .list-item {
            float: left;
            height: 320px;
        }

        .two-items {
            width: calc(50% - #{$global-margin} - #{$global-margin});
        }
    }

}

.featured-packages {

    margin-top: $global-margin;
    padding-bottom: $global-padding;
    position: relative;

    .featured-list-item {
        height: 220px;

        &:before {
            //content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .explore-link {
        margin: 0 $global-margin;
        font-size: 1.125rem; /* 18px/16px */
    }

    @media #{$medium-up} {

        .featured-list-item {
            float: left;

            width: 30%; /* Fallback */
            width: calc(33.33% - #{$global-margin} - #{$global-margin});
        }

        .explore-link {
            position: absolute;
            bottom: 0;
            right: $global-margin;
            margin: 0;
        }
    }

    @media #{$large-up} {

        .featured-list-item {

            &.large {
                width: 40%; /* Fallback */
                width: calc(42% - #{$global-margin} - #{$global-margin});
                height: 280px;
            }

            &.small {
                width: 22%; /* Fallback */
                width: calc(29% - #{$global-margin} - #{$global-margin});
            }
        }

        .explore-link {
            margin-bottom: 3rem;
            font-size: 1.3125rem; /* 21px / 16px */
        }
    }
}
