@import "../scss/_variables.scss";
@import "../scss/_foundation_media_queries.scss";

.packages-panel {
    overflow: hidden;

    .packages-panel-content {
        position: relative;
        transform: translate3d(-320px, 0, 0);
        width: calc(100% + 320px);
        transition: all 0.6s ease-out 0s;
    }

    @media #{$medium-up} {
        overflow: auto;

        .packages-panel-content {
            width: auto;
            transform: translate3d(0, 0, 0);
        }
    }
}

.packages-filter-section {
    background-color: #E8E8E8;
    border-right: 1px solid #E0E0E0;

    float: left;
    width: 320px;

    padding: 0 $global-padding;

    .filter-heading {
        margin-top: 1rem;
    }

    @media #{$medium-up} {
        background-color: transparent;
        border-right: none;
    }

    @media only screen and (min-width: 75em) {
        width: 290px;
    }

    @media #{$xlarge-up} {
        width: 320px;
    }
}

.filter-panel-button-wrapper {
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    bottom: 1rem;

    display: none;

    &.hide-button-wrapper {
        right: 0;
    }

    &.show-button-wrapper {
        left: 0;
    }

    @media #{$medium-up} {
        display: none !important;
    }
}

.filter-panel-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0.75rem;

    background-color: $color-primary-green;
    color: $color-white;

    stroke-width: 4;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

    &.hide-filter-button {
        right: 0.75rem;
    }

    &.show-filter-button {
        left: 0.75rem;
    }
}

.filter-categories {
    padding: 0;
}

.packages-list-section {
    margin-left: 320px;

    .filter-selection-status-panel {
        margin: $global-margin 0.2rem 0.4rem 0.2rem;

        li.current {
            line-height: 1.5;
        }

        .available-packages-status:before {
            content: ">>";
        }

        .available-packages-status:first-child:before {
            content: "";
        }
    }
    /* At 1200px - custom media query range */
    @media only screen and (min-width: 75em) {
        margin-left: 290px;
    }

    @media #{$xlarge-up} {
        margin-left: 320px;
    }
}

.packages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;


    .packages-list-item {
        width: 100%;
        padding: 0 0.2rem 0.4rem 0.2rem;
    }

    .item-padding {
        display: block;
        padding-bottom: 56.25%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 60%;
            background-color: transparent;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
        }
    }

    .package-list-item-content {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .package-title {
        margin: 0;
        color: $color-white;
        padding: 0 0.5rem;
        line-height: 1.2;
    }

    .package-days {
        padding: 0.5rem;
        color: $color-white;
        font-size: 0.75rem;
    }

    /* At 900px - custom media query range */
    @media only screen and (min-width: 56.25em) {

        .packages-list-item {
            width: 50%;
        }
    }

    /* At 1200px - custom media query range */
    @media only screen and (min-width: 75em) {

        .packages-list-item {
            width: 33.33%;
        }
    }

    @media #{$xxlarge-up} {
        .packages-list-item {
            width: 25%;
        }
    }
}
