@import "_variables.scss";
@import "_foundation_media_queries.scss";

h1, h2, h3, h4, h5, h6 {
    color: $greyish-blue;
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-bolder {
    font-weight: 900;
}

.text-blue {
    color: $blue;
}

.text-underline {
    text-decoration: underline;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.heading-with-rule {

    text-align: center;
    position: relative;

    &:before {
        content: "";

        display: block;
        position: absolute;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 1px;
        transform: translateY(-50%);
        z-index: -1;

        background-color: $greyish-blue;
    }

    @media #{$medium-up} {
        &:before {
            left: 15%;
            width: 70%;
        }
    }

    @media #{$large-up} {
        &:before {
            left: 20%;
            width: 60%;
        }
    }

    .rule-heading {
        display: inline-block;
        background-color: $white;
        padding: 15px;
    }

}

.cover-item-block {
    position: relative;
    color: $white;

    .cover-item-heading {
        line-height: 2;
        padding-left: 0.75rem;
        margin: 0;

        color: $white;
        background-color: $greyish-blue;

        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 0.25rem;
    }

    .cover-item-content {
        position: relative;
        overflow: hidden;
        height: 320px;
    }

    .cover-item-image {

        &.wide {
            min-height: 100%;
        }

        &.tall {
            min-width: 100%;
        }

    }

    .cover-item-footer {
        position: absolute;
        bottom: 0;
        background-color: $greyish-blue-trans-3;
        font-size: 1.3125rem;
        line-height: 2;
        width: 100%;
        padding: 0 0.75rem;
    }

    @media #{$large-up} {
        .cover-item-heading,
        .cover-item-footer {
            padding: 0 1rem;
        }
    }
}