// Slick carousel variables
$slick-font-path: "./";

$white: #FFFFFF;
$white-trans-1: rgba(255, 255, 255, 0.25);
$white-trans-2: rgba(255, 255, 255, 0.4);
$white-trans-3: rgba(255, 255, 255, 0.6);
$white-trans-4: rgba(255, 255, 255, 0.8);

$greyish-blue: #344046;
$greyish-blue-trans-1: rgba(52, 64, 70, 0.3);
$greyish-blue-trans-2: rgba(52, 64, 70, 0.5);
$greyish-blue-trans-3: rgba(52, 64, 70, 0.6);
$greyish-blue-trans-4: rgba(52, 64, 70, 0.8);

$blue: #006692;