// Slick carousel variables
$slick-font-path: "./";


// Palette colors
$color-big-stone: #344046;
$color-celery: #94C044;
$color-fiord: #4C5963;
$color-light-sky-blue: #91D8F6;

$color-white: #FFFFFF;
$color-white-smoke: #F2F2F2;

$color-primary-green: $color-celery;
$color-primary-blue: $color-light-sky-blue;

// Color aliases
$color-heading: $color-big-stone;
$color-body-text: $color-fiord;

// Master scales
$global-padding: 1rem;
$global-margin: 1rem;

// Master font
$font-family-sans-serif: "Aller", sans-serif;