// Slick carousel variables
$slick-font-path: "./";


// Palette colors
$color-big-stone: #344046;
$color-fiord: #4C5963;

$color-white: #FFFFFF;
$color-white-smoke: #F2F2F2;

// Color aliases
$color-heading: $color-big-stone;
$color-body-text: $color-fiord;

// Master font
$font-family-sans-serif: "Aller", sans-serif;