@import "../scss/_foundation_media_queries.scss";
@import "../scss/_variables.scss";

$min-header-height: 480px;
$normal-header-height: 540px;
$max-header-height: 600px;
$navigation-bar-bk-color: rgba(0, 0, 0, 0.1);
$wall-darkness-bk-color: rgba(0, 0, 0, 0.2);

.master-canvas-wrap,
.master-canvas-inner-wrap {
    position: relative;
}

#site-logo {
    max-width: 162px;
}

@media #{$medium-up} {
    #site-logo {
        max-width: 180px;
    }
}

#page-header {
    position: relative;
    height: $min-header-height;

    @media #{$medium-up} {
        height: $normal-header-height;
    }

    @media #{$large-up} {
        height: $max-header-height;
    }
}

.top-bar-container {
    position: relative;
}

.top-bar .name {
    background-color: $navigation-bar-bk-color;
}

.two-row-menu {
    line-height: 2.5rem !important;
}

.header-icon {
    width: 20px;
    fill: transparent;
    stroke: $white;
    vertical-align: middle;
}

.header-icon.icon-telephone {
    stroke-width: 2.4px;
}

.header-icon.icon-close-email {
    stroke-width: 0.5px;
}

.wall-dark-layer {
    background-color: $wall-darkness-bk-color;
}

.wall-dark-layer,
.wall-carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.wall-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wall-background-index-0 {
    background-image: url("/img/walls/kanchanjanga-from-darjeeling-1600x1000.jpg");
}

.wall-background-index-1 {
    background-image: url("/img/walls/lord-shankar-at-namchi-1600x1000.jpg");
}

.wall-background-index-2 {
    background-image: url("/img/walls/agra-fort-india-1600x1000.jpg");
}

.wall-carousel {
    .slick-list,
    .slick-track {
        height: 100%;
    }
}

.content-panel {
    padding: 0 1rem;
}

.tag-line-container {
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 100%;

    .tag-line {
        color: $white;
        font-size: 3rem;
    }

    .tag-line-sub {
        color: $white;
        font-size: 1.3125rem;
    }
}

@media #{$medium-up} {
    .tag-line-container {
        top: 55%;
    }
}

#page-footer {
    padding: 5% 0 1.5% 0;
    background-color: $blue;
    color: $white;

    ul {
        list-style: none;
        margin: 0;
    }

    h2, a {
        color: inherit;
    }

    .address-block,
    .logo-block {
        margin-top: 20px;
    }
}

.footer-icons {
    stroke: white;
    fill: none;
    float: left;
    display: block;
    width: 30px;
    margin-right: 10px;
}

.icon-facebook {
    stroke-width: 5px;
}

.icon-twitter {
    stroke-width: 25px;
}

.footer-logo {
    margin-top: 10px;
    display: block;
    max-width: 180px;
}

@media #{$large-up} {
    #page-footer {
        padding-top: 50px;

        .address-block,
        .logo-block {
            margin-top: 0;
        }
    }
}
